{% extends "layout.html" %}

{% block content %}
<body>
    <div class="container">
        
        <h1>{{ title }}</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <div>
                {{ form.name.label }}
                {{ form.name() }}
                {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.rarity.label }}
                {{ form.rarity() }}
                {% if form.rarity.errors %}
                    <ul>
                        {% for error in form.rarity.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.target.label }}
                {{ form.target() }}
                {% if form.target.errors %}
                    <ul>
                        {% for error in form.target.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.trophies.label }}
                {{ form.trophies() }}
                {% if form.trophies.errors %}
                    <ul>
                        {% for error in form.trophies.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.evolution.label }}
                {{ form.evolution() }}
                {% if form.evolution.errors %}
                    <ul>
                        {% for error in form.evolution.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.speed.label }}
                {{ form.speed() }}
                {% if form.speed.errors %}
                    <ul>
                        {% for error in form.speed.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.spawn_time.label }}
                {{ form.spawn_time() }}
                {% if form.spawn_time.errors %}
                    <ul>
                        {% for error in form.spawn_time.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.elixir.label }}
                {{ form.elixir() }}
                {% if form.elixir.errors %}
                    <ul>
                        {% for error in form.elixir.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.description.label }}
                {{ form.description() }}
                {% if form.description.errors %}
                    <ul>
                        {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.image.label }}
                {{ form.image() }}
                {% if form.image.errors %}
                    <ul>
                        {% for error in form.image.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div>
                {{ form.special.label }}
                {{ form.special() }}
                {% if form.special.errors %}
                    <ul>
                        {% for error in form.special.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Add Card</button>
        </form>
    </div>
</body>
{% endblock %}
