{% extends "layout.html" %}

{% block content %}
    <h1 class="page-name">Pending Cards</h1>

    <!-- Display Pending Cards -->
    <div class="user-grid">
        {% if pending_cards %}
            {% for card in pending_cards %}
                <div class="user-card">
                    <img src="{{ url_for('static', filename=card.image) }}" width="90" height="100" alt="{{ card.name }}">
                    <div class="pending-info">
                        <p><strong>Card:</strong> {{ card.name }}</p>
                        <a href="{{ url_for('approve', id=card.id) }}" class="approve-btn">Approve</a>
                        <a href="{{ url_for('reject', id=card.id) }}" class="reject-btn">Reject</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No cards pending approval yet.</p>
        {% endif %}
    </div>
{% endblock %}
