{% extends "layout.html" %}
{% block content %}
    <h1>All Cards</h1>
    <div class="horizontal-list-container">    
        <ul class = "horizontal-list">
            {% for card in cards %}
            
                <a href="{{ url_for('card', id=card.id) }}">
                    <div class="image">
                        <img src="{{ url_for('static', filename=card.image) }}"width="100" height="100">
                    </div>
                </a>
            
            {% endfor %}
        </ul>
    </div>
{% endblock %}
