{% extends "layout.html" %}

{% block content %}
{% if card.image %}
<img src="{{ url_for('static', filename=card.image) }}" alt="{{ card.name }}" class="img-fluid">
{% endif %}
<div class="container mt-4 bg">
    <h1 class="display-4">{{ card.name }}</h1>
    <h3>{{ card.description }}<br><br></h3>

    <!-- Table for card details -->
    <table class="table mt-3">
        <tbody>
            <tr>
                <th scope="row">Rarity</th>
                <td>{{ card.rarity_type.type }}</td>
            </tr>
            <tr>
                <th scope="row">Arena Unlocked</th>
                <td>{{ card.trophies.arena }}</td>
            </tr>
            <tr>
                <th scope="row">Evolution</th>
                <td>{{ card.evo.cycles }}<br> {{ card.evo.stat_boost }} <br> {{ card.evo.special_ability }}</td>
            </tr>
            <tr>
                <th scope="row">Speed</th>
                <td>{{ card.speed }}</td>
            </tr>
            <tr>
                <th scope="row">Special Ability</th>
                <td>{{ card.special.name }} - {{ card.special.description }}</td>
            </tr>
            <tr>
                <th scope="row">Elixir Cost</th>
                <td>{{ card.elixir }}</td>
            </tr>
            <tr>
                <th scope="row">Targets</th>
                <td>
                    <ul>
                        {% for target in card.card_target %}
                            <li>{{ target.target }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

<!-- Table for card stats -->
<div class="container mt-4 test">
    <div class="card-header">
        <h2>Card Stats</h2>

    <!-- Table for card details -->
    <table class="table mt-3">
        {% if card_stats and card_stats|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Health</th>
                    <th>Damage</th>
                    <th>Damage/sec</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in card_stats %}
                <tr>
                    <td>{{ stat.level }}</td>
                    <td>{{ stat.health }}</td>
                    <td>{{ stat.damage }}</td>
                    <td>{{ stat.damage_per_sec }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No stats available for this card.</p>
        {% endif %}
    </div>
</div>

    <!-- Add spacing between the table and the back button -->
    <div class="mt-3">
        <a href="{{ url_for('cards') }}" class="btn1 btn-secondary">Back to All Cards</a>
    </div>
</div>
{% endblock %}
