{% extends"layout.html" %}
{% block content %}
<h1 > WHAT IS VALORANT </h1>
<p style = "font-size: 25px; "class="wrap-text" >Valorant is a team-based first-person tactical hero shooter set in the near future. 
    Players play as one of a set of Agents, characters based on several 
    countries and cultures around the world. In the main game mode, players are assigned to 
    either the attacking or defending team with each team having five players on itValorant is a team-based first-person tactical hero shooter set in the near future. 

</p>
{% endblock %}