<nav class="navbar">
    <div class="menuToggle">
        <!-- Hamburger icon -->
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <ul class="menu">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Mail</a></li>
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="/login" class="nav-link">Login</a></li>
        <li><a href="/cards" class="nav-link">Cards</a></li>
        <li><a href="/add_card" class="nav-link">Add</a></li>
        <li><a href="/deck" class="nav-link">Deck</a></li>
        <li><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</nav>

<script>
    const menuToggle = document.querySelector('.menuToggle');
    const menu = document.querySelector('.menu');

    menuToggle.onclick = function() {
        menu.classList.toggle('active');
        menuToggle.classList.toggle('open');
    }
</script>
