<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle Menu</title>
    <link rel="stylesheet"href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
  <div class="menu">
    <input type="checkbox" id="toggle" />
    <label id="show-menu" for="toggle">
        <div class="btn">
            <i class="material-icons md-36 toggleBtn menuBtn">menu</i>
            <i class="material-icons md-36 toggleBtn closeBtn">close</i>
        </div>
        <div class="btn">
            <a href="/"><img src="\static\images\home.jpg" alt="Home" width="90" height="90"></a>
        </div>
        <div class="btn">
            <a href="contact">contact</a>
        </div>
        <div class="btn">
            <a href="about">about</a>
        </div>
        <div class="btn">
            <a href="/chat_bubble">chat_bubble</a>
        </div>
        <div class="btn">
            <a href="/settings">settings</a>
        </div>
        <div class="btn">
            <a href="/phone">phone</a>
        </div>
        <div class="btn">
            <a href="/cloud">cloud</a>
        </div>
        <div class="btn">
            <a href="/videocam">videocam</a>
        </div>
    </label>
</div>
</html>