/* Set the body to have a red background and prevent scrolling */
body {
   /* Disable scrolling */
  background: #c80d0d; /* Red background color */
}

/* Hide the input elements */
input {
  position: absolute; /* Position absolute */
  display: none; /* Hide the input elements */
}

/* Disable text selection for all elements */
* {
  -webkit-touch-callout: none; /* Disable touch callout */
  -webkit-user-select: none; /* Disable user selection */
  -moz-user-select: none; /* Disable user selection */
  -ms-user-select: none; /* Disable user selection */
  user-select: none; /* Disable user selection */
}

/* Center the menu */
.menu {
  margin: 0 auto; /* Center horizontally */
  position: absolute; /* Position absolute */
  top: 90%; /* Center vertically */
  left: 50%; /* Center horizontally */
  margin-left: -25px; /* Offset to center */
  margin-top: -25px; /* Offset to center */
}

/* Style for the menu buttons */
.btn {
  width: 70px; /* Width of the button */
  height: 70px; /* Height of the button */
  border-radius: 70px; /* Border radius to make it round */
  position: absolute; /* Position absolute */
  overflow: hidden; /* Hide overflowing content */
  cursor: pointer; /* Set cursor to pointer */
}

/* Icon styles */
.material-icons.md-36 {
  font-size: 36px; /* Font size */
  color: #03a9f4; /* Text color */
}

/* Button styles */
.btn {
  background: #eceff1; /* Button background color */
  font-size: 15px; /* Font size */
  display: -webkit-box; /* Display as flexbox for WebKit browsers */
  display: -ms-flexbox; /* Display as flexbox for IE 10 */
  display: flex; /* Display as flexbox */
  -webkit-box-pack: center; /* Center horizontally */
  -ms-flex-pack: center; /* Center horizontally */
  justify-content: center; /* Center horizontally */
  -webkit-box-align: center; /* Center vertically */
  -ms-flex-align: center; /* Center vertically */
  align-items: center; /* Center vertically */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Box shadow */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); /* Transition effect */
}


/* Hide all buttons except the first one */
.btn:not(:first-child) {
  opacity: 0; /* Hide the button */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE opacity fix */
  z-index: -2; /* Move the button behind other elements */

  /* Transition effect for showing the buttons */
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

/* Define positions and delays for each button */
.btn:nth-child(2) {
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.btn:nth-child(3) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.btn:nth-child(4) {
  left: 0px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.btn:nth-child(5) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.btn:nth-child(6) {
  top: 0px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.btn:nth-child(7) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.btn:nth-child(8) {
  left: 0px;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.btn:nth-child(9) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

/* Show the buttons when the input is checked */
input#toggle:checked ~ #show-menu .btn:nth-child(2) {
  top: -150px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
  top: -100px;
  left: 100px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
  left: 150px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(5) {
  top: 100px;
  left: 100px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(6) {
  top: 150px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(7) {
  top: 100px;
  left: -100px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(8) {
  left: -150px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(9) {
  top: -100px;
  left: -100px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}